body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 50px;
    padding-left: 1vw;
    padding-right: 1vw;
}

/* nav-bar start */
.header {
    list-style: none;
    display: flex;
    align-items: center;
    color: black;
    background-color: lightgray;
    padding: 0;
    margin: 0;
    margin-top: 21.44px;
}

.headline {
    padding-left: 1vw;
}

h1 {
    margin: 0;
}

a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding-left: 50px;
}

a:hover {
    color: darkgray;
}
/* nav-bar end */

h2 {
    padding-left: 1vw;
}

p {
    padding-left: 1vw;
}

/* table start */
table {
    padding-left: 1vw;
    padding-right: 1vw;
}

thead {
    font-weight: bold;
    background-color: #F0F0F0;
}

.table-header-name {
    width: 100vw;
}

.table-header-image {
    width: 100vw;
}

.table-header-tag-version {
    width: 100vw;
}

td {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

tr:nth-child(even) {
    background-color: #F0F0F0;
}
/* table end */
