---
# https://github.com/telekom-mms/kavir
pages:
  stage: deploy
  image: ghcr.io/telekom-mms/kavir-html-report-builder:1.1.0
  variables:
    ## optional env vars
    # verbose:                      # default: true
    # reportName:                   # default: Kubernetes Application Version Report
    # reportScope:                  # default: deployments replicasets statefulsets daemonsets jobs cronjobs replicationcontrollers
    # pathsTemplateFile:            # default: /etc/kavir-html-report-builder/templates/simple.html.j2
    # pathsStyleFile:               # default: /etc/kavir-html-report-builder/styles/tech.css
    # menuEnabled:                  # default: true
    ## mandatory env vars
    pathsSrcDir: kavir-csv-reports
    pathsOutDir: public             # do not change
    menuLinkBasePath: $CI_PAGES_URL # do not change
  script:
    - mkdir -p $pathsSrcDir
    - mkdir -p public
    # move all folders that should be included in the html report to $pathsSrcDir
    - mv dev $pathsSrcDir
    - mv prod $pathsSrcDir
    # build the html reports
    - /bin/bash /opt/kavir-html-report-builder/entrypoint.bash
    # copy (not move!) the html report that should be the landing page to public/index.html
    - cp public/prod.html public/index.html
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  artifacts:
    paths:
      - public
