name: Lint and Test Charts

on:
  # Run CI against all pushes (direct commits, also merged PRs), Pull Requests
  push:
    branches: [main]
    paths:
      - 'charts/**'
      - '.github/workflows/lint-test.yml'
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [main]
    paths:
      - 'charts/**'
      - '.github/workflows/lint-test.yml'

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4.3.1
        with:
          version: v3.17.0

      - uses: actions/setup-python@v6.1.0
        with:
          python-version: '3.x'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.8.0

      - name: Update values.yaml
        run: cp charts/kavir/values.yaml.template charts/kavir/values.yaml

      - name: Run chart-testing (lint)
        run: ct lint --target-branch ${{ github.event.repository.default_branch }}

      - name: Create kind cluster
        uses: helm/kind-action@v1.13.0

      - name: Run chart-testing (install)
        run: ct install --target-branch ${{ github.event.repository.default_branch }}
